{% extends 'base.html'%}
{%block title%} Details {% endblock title %}
{%block body%} 
<div class="form-box" > 

<form>
  <table>
      <tr >
          <td id="abc">
              COLLEGE NAME:
          </td>
          <td id="abc">
              <input type="text" size="50">
          </td>
      </tr>
      <tr>
          <td id="abc">
              ESTABLISHED IN:
          </td>
          <td id="abc">
              <input type="text" size="50" >
          </td>
      </tr>
      <tr>
          <td id="abc">
              ADDRESS:
          </td>
          <td id="abc">
              <input type="text" size="50" >
              
          </td>
      </tr>
      <tr>
          <td id="abc">
              BRANCHES:
          </td>
          <td id="abc">
              <input type="text" size="50" >
          </td>
      </tr>
      <tr>
          <td id="abc">
              INFORMATION:
          </td>
          <td id="abc">
              <input type="text" size="50" >
          </td>
      </tr>
      <tr>
          <td id="abc">
              OTHER FACILITIES:
          </td>
          <td id="abc">
              <input type="text" size="50" >
          </td>
      </tr>
      
  </table>
</form>

<div class="but-field">
  <button type="button"> BACK </button>
</div>
</div>
  {% endblock body %}